// colors 从浅到深 常用颜色

$colors: (
    primary: #db93ef,
    "white": #fff,
    "light": #f9f9f9,
    "grey": #999,
    "dark-1": #343440,
    "dark": #222,
    "black": #000,
);

// 生成一些助手类
@each $colorKey, $color in $colors {
    .text-#{$colorKey} {
        color: $color 
    }
    .bg-#{$colorKey} {
        color: $color;
    }
}

// text

@each $var in (left, center, right) {
    .text-#{$var} { // 注意作为类名定义 需要加上#
        text-align: $var;
    }
}

// font size

$base-font-size: 1rem;
// 安装px2rem插件 rem是为了适配 都是base字体大小的倍数
$font-sizes: (
    xs: 0.7692, // 10px
    sm: 0.9231, // 12px
    md: 1,   // 13px
    lg: 1.0769, // 14px
    xl: 1.2308, // 16px
);
@each $sizeKey, $size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size;
    }
}

