// reset
// 在不同浏览器 不同设备 默认样式可能不一致 所以第一步应该是样式重置

* {
    box-sizing: border-box;
    outline: none;  // 按tab切换有的元素会有默认高亮等
}

html {
    font-size: 13px;    // 作为基础字体大小
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;  // Arial所有电脑上都有， Hel苹果电脑专用，sans非衬线字体。优先级从高到低
    line-height: 1.2em; //em是相对于元素内字体 rem是相当于跟元素字体
    background-color: #f1f1f1;
}

a {
    color: #999;
}

